<%- include('navbar.ejs') %>
<div class="container bg-white p-4 border shadow-lg">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>※ Product List ※</h3>
            <hr>

            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>Action</th>
                    <th>Sr.No</th>
                    <th>Product Name</th>
                    <th>Company</th>
                    <th>Colors</th>
                    <th>Label</th>
                    <th>Price Range</th>
                </tr>
                <% for(i=0;i<product.length;i++){%>
                <tr>
                    <td style="white-space:nowrap;width:15px;">
                        <a href="/admin/view_product/<%=product[i].product_id%>"><button class="btn btn-outline-info"><i class="fa fa-eye"></i></button></a>
                        <a href="/admin/edit_product/<%=product[i].product_id%>"><button class="btn btn-outline-success"><i class="fa fa-edit"></i></button></a>
                        <a href="/admin/delete_product/<%=product[i].product_id%>"><button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></a>
                    </td>
                    <td><%=i+1%></td>
                    <td><%=product[i].product_name%></td>
                    <td><%=product[i].product_company%></td>
                    <td><%=product[i].product_colors%></td>
                    <td><%=product[i].product_label%></td>
                    <td>&#8377; <%=product[i].min_price%> - <%=product[i].max_price%></td>
                </tr>    
                <% } %>
            </table>
        </div>
    </div>
</div>
<%- include('footer.ejs') %>