<%- include('navbar.ejs') %>
<div class="container_fluid bg-white p-3 shadow-lg">
   <form action="/admin/save_testimonials" method="post">
      <div class="row">
         <div class="col-md-12 text-center">
            <h3>※ Testimonials  Details ※</h3>
            <hr>
         </div>
         <div class="col-md-12">
            <label>Name</label>
            <input type="text" name="testimonials_name" class="form-control">
         </div>
         <div class="col-md-12 mt-3">
            <label>Details</label>
            <textarea name="testimonials_details" class="form-control" id="editor"></textarea>
         </div>
         <div class="mt-5 col-md-12 text-center">
            <button class="btn btn-md btn-outline-info" >Save</button>
         </div>
      </div>
   </form>
</div>

<div class="container-fluid bg-white p-3 shadow-lg mt-5">
   <div class="row">
       <div class="col-md-12">
           <table class="table table-light table-hover table-bordered">
               <tr class="text-center">
                   <th>Status</th>
                   <th>SN</th>
                   <th>Testimonials Name</th>
                   <th>Testimonials Details</th>                   
               </tr>
               
               <% for(var i=0; i<testimonials.length; i++){ %>
                   <tr class="text-center">
                       <td style="white-space: nowrap;">
                           <a href="/admin/edit_testimonials/<%=testimonials[i].testimonials_id%>"><button class="btn btn-outline-success"><i class="fa fa-edit"></i></button></a>

                           <a href="/admin/delete_testimonials/<%=testimonials[i].testimonials_id%>"><button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></a>
                       </td>
                       <td><%=i+1%></td>
                       <td><%=testimonials[i].testimonials_name%></td>
                       <td><%=testimonials[i].testimonials_details%></td>
                   </tr>
               <% } %>
           </table>
       </div>
   </div>
</div>
<%- include('footer.ejs') %>
