<%- include('navbar.ejs')%>
<form action="/place_order" method="post">
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h3>Fill The Information</h3>
                <div class="col-md-6 mb-3">
                    <label for="name">Enter Name</label>
                    <input type="text" name="customer_name" value="<%=customer.customer_name%>" placeholder="Enter Full Name" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="name">Enter Mobile</label>
                    <input type="text" name="customer_mobile" value="<%=customer.customer_mobile%>" placeholder="Enter Mobile No." class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Enter State</label>
                    <input type="text" name="customer_state" value="<%=customer.customer_state%>" placeholder="Enter State" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Enter District</label>
                    <input type="text" name="customer_district" value="<%=customer.customer_district%>" placeholder="Enter District" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Enter City</label>
                    <input type="text" name="customer_city" value="<%=customer.customer_city%>" placeholder="Enter City" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Enter Area</label>
                    <input type="text" name="customer_area" value="<%=customer.customer_area%>" placeholder="Enter Area" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Enter Landmark</label>
                    <input type="text" name="customer_landmark" value="<%=customer.customer_landmark%>" placeholder="Enter Landmark" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Enter Pincode</label>
                    <input type="text" name="customer_address_pincode" value="<%=customer.customer_pincode%>" placeholder="Enter Pincode" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Order Summary</h3>
            <%
            ttl_qty = 0;
            ttl_price = 0;
             for(var i=0;i<carts.length;i++) {%>
                <div class="row">
                    <div class="col-md-8"><%=carts[i].product_name%> x <%=carts[i].qty%></div>
                    <div class="col-md-4">&#8377; <%=carts[i].product_price * carts[i].qty%></div>
                </div>
            <%
            ttl_qty =ttl_qty + carts[i].qty;
            ttl_price = ttl_price + (carts[i].product_price * carts[i].qty);
             } %>
             <div class="row border-top fw-bold mt-2">
                <div class="col-md-8">Total : <%=ttl_qty%> Products</div>
                <div class="col-md-4">&#8377; <%=ttl_price%></div>
            </div>
            <br>
            <div class="fw-bold text-dark">
                <label>Choose Payment Mode</label>
                <select name="payment_mode" class="form-control">
                    <option>Online</option>
                    <option>Cash On Delivery</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 text-center mt-3">
            <button class="btn btn-dark">Place Order</button>
        </div>
    </div>
</div>
</form>
<%- include('footer.ejs')%>